/* AdminEquipmentForm.module.css */

.admin-equipment-form-container {
  max-width: 650px;
  width: 100%;
  margin-left: 23rem;
  /* margin: 40px auto; */
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: block;
}

h2 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.admin-equipment-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.MuiTextField-root {
  margin-bottom: 20px !important;
  width: 100%;
}

.admin-equipment-form-error {
  color: #d32f2f;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}

.admin-equipment-form-actions {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 60px;
  width: 100%;
}

button {
  min-width: 120px;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  transition: all 0.3s ease;
}

/* כפתור Cancel */
.admin-equipment-cancel-button {
  background-color: #d32f2f;
  color: white;
  border: none;
}

.admin-equipment-cancel-button:hover {
  background-color: #b71c1c;
}

/* כפתור Save */
.admin-equipment-save-button {
  background-color: #1976d2;
  color: white;
  border: none;
}

.admin-equipment-save-button:hover {
  background-color: #1565c0;
}

.admin-equipment-form-dropzone {
  border: 2px dashed #1976d2;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  background-color: #f7f7f7;
  border-radius: 8px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.admin-equipment-form-dropzone:hover {
  background-color: #e3f2fd;
  border-color: #1565c0;
}

input[type="file"] {
  display: none;
}

/* רספונסיביות */
@media (max-width: 768px) {
  .admin-equipment-form-container {
    padding: 20px;
  }

  h2 {
    font-size: 1.2rem;
  }

  .admin-equipment-form-actions {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  button {
    width: 100%;
  }
}
