/* frontend/src/components/AdminBorrows.module.css */
.AdminBorrowstPage{
  background-image: url('/photos/elegant-library-interior-stockcake.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-size: cover;
  background-position: center;
  padding: 0;

}
.container {
  height: 100%;
  max-width: 1200px;
  /* margin-right: 2rem; */
  /* margin: 0 auto; */
  padding: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: rgb(241, 223, 191); */
  background-color: rgba(0, 0, 0, 0.627);


}

.title {
  text-align: center;
  font-size: 2.5rem;
  color: rgba(245, 245, 245, 0.527);
  margin-bottom: 20px;
}

.error {
  color: #e74c3c;
  text-align: center;
  margin-bottom: 20px;
}

.sectionTitle {
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 15px;
  /* color: #555; */
  color: rgba(245, 245, 245, 0.527);
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  gap: 20px;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* בלוק עם פרטי הבקשה */
.details {
  flex: 2;
}

/* בלוק שמציג תמונת הספר */
.imageContainer {
  flex: 1;
  text-align: center;
}

.equipmentImage {
  max-width: 80%;
  height: auto;
  border-radius: 4px;
}

/* בלוק פעולות המנהל */
.actions {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.equipment,
.user,
.phone,
.email,
.status,
.dates {
  margin: 5px 0;
  font-size: 1.1rem;
  font-weight: 500;
  color: #444;
}

.button {
  /* background-color: #007bff; */
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.button:hover {
  background-color: #00000038;
  color: #000000;
}

.noData {
  font-size: 1rem;
  color: #99999974;
  text-align: center;
}