.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* רקע כהה עבור חלון מודאלי */
}

.modalContent {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
}

h2 {
  text-align: center;
  color: #4a148c;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #4a148c;
}

.formGroup input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #4a148c;
  border-radius: 6px;
  font-size: 1rem;
  color: #333;
}

.formGroup input:focus {
  border-color: #ba68c8;
  outline: none;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.actions button {
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  background-color: #4a148c;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.actions button:hover {
  background-color: #7b1fa2;
}

@media (max-width: 480px) {
  .modalContent {
    width: 90%;
    padding: 1rem;
  }

  .formGroup input {
    padding: 0.6rem;
  }

  .actions button {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
  }
}

/* עיצוב נוסף */
.form {
  background-color: #4a148c; /* גוון סגול עמוק */
  padding: 1.5rem;
  width: 100%;
  max-width: 25rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.form label {
  display: block;
  margin-bottom: 0.3rem;
  color: #f3e5f5; /* סגול בהיר */
  font-weight: bold;
  font-size: 0.9rem;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #c7a4ff; /* צבע גבול עדין */
  background-color: #e1bee7; /* גוון סגול בהיר */
  color: #1a1a1a;
}

.form input:focus,
.form textarea:focus {
  outline: none;
  border-color: #ba68c8; /* הדגשת שדה בפוקוס */
  box-shadow: 0 0 5px rgba(186, 104, 200, 0.5);
}

.actions a {
  background-color: transparent;
  text-decoration: none;
  color: #f3e5f5;
  font-weight: bold;
  transition: color 0.3s ease;
}

.actions a:hover {
  color: #d1c4e9;
}

