.equipments-page {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;  /* מוודא שהעמוד לא ממורכז מדי */
    min-height: 100vh;
    color: #333;
}
.disabledButton {
    background-color: grey;
    color: white;
    cursor: not-allowed;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
 }

.equipments-container {
    margin-left: 10rem;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    background: rgba(0, 0, 0, 0.225);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(20, 3, 3, 0.1);
}

/* שאר הסגנונות נותרים כפי שהגדרת */
.equipments-title {
    margin-bottom: 20px;
    color: #414141;
    font-size: 2.6rem;
}

.equipments-error-message {
    color: red;
    margin-bottom: 15px;
}
.equipments-container .borrow-button {
    background-color:rgba(224, 195, 146, 0.788);
}
.equipments-container .borrow-button:hover{
    background-color: rgb(117, 101, 76);
}

.equipments-books-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.equipments-book-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* מסדר את התוכן בתוך הכרטיס */
    min-height: 300px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 13px;
    text-align: left;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.equipments-book-item img {
    display: block;
    width: 100%;
    height: 28rem;
    border-radius: 4px;
}

.equipments-book-item h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    text-align: center;
}

.equipments-book-item p {
    margin: 5px 0;
    color: #555;
    font-size: 14px;
    text-align: center;
}
  
.equipments-book-item button {
    display: inline-block;  /* שים את הכפתור כמו אובייקט בלוק */
    margin-top: 10px;  /* מרווח אחיד לכל הכפתורים */
    margin-bottom: 1%; /* מרווח למטה */
    background-color:rgb(224, 196, 146);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}


.equipments-book-item button:hover {
    background-color: rgb(143, 124, 93);
}

@media (max-width: 900px) {
    .equipments-books-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .equipments-books-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
