/* frontend/src/components/SignUp.module.css */

  
  .signupPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('/photos/butterflies.avif'); /* כאן תכניס את הנתיב לתמונה */
    background-size: cover;
    background-position: center;
  }
  
  .signupContainer {
    max-width: 1200px;
    margin-right: 26rem;
    /* margin-left: 0; */
    /* height: 150%; */
    max-width: 600px;
    width: 100%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8); /* רקע לבן עם שקיפות */
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
  }
  
  .signupContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
  }
  
  .signupTitle {
    text-align: center;
    font-size: 2.5rem;
    color: #6f4f1f; /* צבע חום בהיר */
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .signupForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .signupInput {
    padding: 15px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    color: #6f4f1f; /* צבע חום בהיר */
    background-color: #f4e1c1; /* צבע חום בהיר */
  }
  
  .signupInput:focus {
    border-color: #6f4f1f;
  }
  
  .errorMessage,
  .successMessage {
    text-align: center;
    font-size: 1rem;
  }
  
  .errorMessage {
    color: #e74c3c;
  }
  
  .successMessage {
    color: #2ecc71;
  }
  
  .signupButton {
    background-color: #6f4f1f; /* צבע חום כהה */
    color: white;
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signupButton:hover {
    background-color: #5a3d1f; /* גוון כהה יותר */
  }
  
  .signupButton:disabled {
    background-color: #d1a56b; /* גוון בהיר כאשר הלחצן לא פעיל */
    cursor: not-allowed;
  }
  
  @media (max-width: 768px) {
    .signupContainer {
      padding: 20px;
    }
  
    .signupTitle {
      font-size: 2rem;
    }
  
    .signupInput {
      padding: 12px;
    }
  
    .signupButton {
      padding: 12px;
      font-size: 1rem;
    }
  }
  